@font-face {
  font-family: Gotham-Book;
  src: url('./fonts/Gotham-Book.woff2');
  font-weight: 500;
}

@font-face {
  font-family: Gotham-Bold;
  src: url('./fonts/Gotham-Bold.woff2');
  font-weight: 900;
}
